.container {
    width: 90%;
    margin: 0.5vh auto;
    background: #f9f9f9;
}

.productsMenu {
    display: flex;
    justify-content: space-between;
    padding: 2vh 1vw;
}

.menuItem {
    font-size: 1.2vw;
}

.selectBox {
    text-align: center;
    font-size: 0.9em;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    padding: 0 0.65em 0 0;
    cursor: pointer;
}

.selectOption {
    font-weight: 200;
    font-size: 0.85em;
}

@media (min-width: 1500px) {}

@media (max-width: 992px) {
    .menuItem {
        font-size: 1.2em;
    }
}

@media (max-width: 1000px) {
    .container {
        flex-wrap: wrap;
    }
    .menuItem {
        line-height: 2;
        padding: 1.5vw 3vw;
        display: flex;
        font-size: 1.3em;
    }
    .productsMenu {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (max-width: 576px) {
    .container {
        display: none;
    }
}