.container {
    width: 90%;
    margin: 0 auto;
    background: #f9f9f9;
}

.productsMenu {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vh 1vw;
}

.menuItem {
    font-size: 1.1vw;
}

.selectBox {
    text-align: center;
    font-size: 1em;
    font-family: "Prompt", sans-serif;
    font-weight: 500;
}

.selectOption {
    font-weight: 200;
}