.container {
    width: 95%;
    margin: 6vh auto;
}

.body {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

@media (min-width: 1500px) {}

@media (max-width: 992px) {}

@media (max-width: 1000px) {
    .buttonsContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .body {
        display: block;
    }
    .container {
        margin: 3vh auto 0 auto;
    }
}

@media (max-width: 576px) {}