.container {
    width: 95%;
    margin: 6vh auto;
}

.body {
    display: flex;
    justify-content: space-between;
}

.pageOverview {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1500px) {}

@media (max-width: 992px) {}

@media (max-width: 760px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .body {
        display: block;
    }
}

@media (max-width: 576px) {}