.container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.image {
    width: 20vw;
}

.title {
    font-size: 5.5vw;
    margin: 0;
}

@media (max-width: 900px) {
    .image {
        width: 30vw;
    }
    .container {
        height: 45vh;
    }
}

@media (max-width: 576px) {
    .image {
        width: 45vw;
    }
    .container {
        height: 35vh;
    }
}
