.sideMenu {
    display: none;
}

@media (max-width: 600px) {
    .sideMenu {
        display: block;
        padding-left: 1.5vw;
        display: flex;
        align-self: flex-end;
        background-color: transparent;
        z-index: 20;
    }
    .menuContainer {
        cursor: pointer;
        display: inline-block;
        padding-bottom: 0.5vh;
    }
    .menu-icon-bar {
        width: 1.3rem;
        height: 0.2rem;
        background-color: rgb(75, 66, 66);
        margin: 0.2rem 0;
        transition: 0.4s;
        border-radius: 12px;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 9px);
        transform: rotate(-45deg) translate(-9px, 9px);
    }
    .change .bar2 {
        opacity: 0;
    }
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -9px);
        transform: rotate(45deg) translate(-9px, -9px);
    }
    /* The side navigation menu */
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        font-size: 2rem;
        background-color: #eaebea;
        overflow-x: hidden;
        padding-top: 5rem;
        transition: 0.5s;
    }
    .sidenavOpened {
        width: 40%;
        margin-right: 60%;
        padding: 0 4vw;
    }
    .sidenav a,
    .closeMenuBtn {
        color: #05060f;
        display: block;
        transition: 0.3s;
    }
    .closeMenuBtn {
        font-size: 1.3em;
        width: 100%;
        text-align: right;
        padding: 1.5vh 1.5vw;
    }
    .sidenav a:hover,
    .closeMenuBtn:hover {
        color: #acaee3;
        background-color: transparent;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(3px);
        z-index: 1;
    }
    .heading {
        font-size: 0.6em;
        margin-top: 1.5vh;
    }
}

.hidden {
    display: none;
}