.menuItem {
    display: block;
    padding: 1.5vh 1vw;
    color: #6a983c;
}

.menuItem:hover {
    color: black;
}

.container {
    display: flex;
}

@media (max-width: 576px) {
    .container {
        display: block;
    }
    .menuItem {
        font-size: 0.4em;
    }
}