.topNavBar {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

.searchSection {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 2.5vh 0;
    justify-content: space-between;
    align-items: center;
}

.companyNameSection {
    font-size: 210%;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}

.companyNameSection:hover {
    color: #6a983c;
}

.iconsSection {
    display: flex;
}

.cartIcon {
    height: 2vw;
    padding: 0 0.5vw;
}

.loginIcon {
    height: 2vw;
    padding: 0 0.5vw;
}

@media (min-width: 1500px) {}

@media (max-width: 1000px) {
    .companyNameSection {
        font-size: 170%;
    }
    .searchSection {
        flex-wrap: wrap;
    }
    .cartIcon {
        height: 3vw;
    }
    .loginIcon {
        height: 2.9vw;
    }
}

@media (max-width: 576px) {
    .topNavBar {
        display: none;
    }
    .searchSection {
        margin-top: 2vh;
    }
    .cartIcon {
        height: 5vw;
    }
    .loginIcon {
        height: 4.5vw;
    }
}