.topNavBar {
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

.searchSection {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 2.5vh 0;
    justify-content: space-between;
    align-items: center;
}

.companyNameSection {
    font-size: 2.1em;
    font-family: "Prompt", sans-serif;
    font-weight: 600;
}

.companyNameSection:hover {
    color: #6a983c;
}

.iconsSection {
    display: flex;
}

.cartIcon {
    height: 23px;
    padding: 0 0.5vw;
}

.loginIcon {
    height: 20px;
    padding: 0 0.5vw;
}

@media (min-width: 1500px) {}

@media (max-width: 992px) {}

@media (max-width: 760px) {
    .companyNameSection {
        font-size: 1.7em;
    }
    .searchSection {
        flex-wrap: wrap;
    }
}

@media (max-width: 576px) {}