.contacts {
  display: flex;
  flex-direction: row;
}

.contacts ul {
  display: flex;
  margin: auto 0;
  padding: 0;
  list-style-type: none;
}

.contacts ul li {
  padding: 2vh 3vw 0 0;
  cursor: pointer;
}

.contacts ul li:hover {
  color: #6a983c;
}
