.container {
    /* inline flex - for mobile version */
    display: inline-flex;
    cursor: pointer;
    position: relative;
    width: 95%;
    font-size: 115%;
    margin-bottom: 0.25vh;
    align-items: center;
}

.option {
    display: inline-block;
    padding: 0 0.3em;
}

.input {
    height: 2.5vh;
    width: 2.5vh;
    appearance: none;
    border: 0.25vh solid #d1d1d1;
    border-radius: 0.35vh;
    transition-duration: 0.3s;
}

.input:checked {
    border: 0.25vh solid #46760a;
    background: #6a983c;
}

.input:checked~.label .option::before {
    content: "\2714";
    color: #ffffff;
    position: absolute;
    left: 4%;
    top: 8%;
}

@media (min-width: 1700px) {
    .input:checked~.label .option::before {
        top: 13%;
    }
}

@media (max-width: 1200px) {
    .input:checked~.label .option::before {
        left: 6%;
        top: 12%;
    }
}

@media (max-width: 1006px) {
    .input:checked~.label .option::before {
        left: 3%;
    }
}

@media (max-width: 576px) {
    .input:checked~.label .option::before {
        left: 5%;
    }
}

@media (max-width: 320px) {
    .input {
        height: 2vh;
        width: 2vh;
    }
    .input:checked~.label .option::before {
        left: 4%;
        top: 15%;
    }
    .option {
        font-size: 90%;
    }
}