.container {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    width: 95%;
    font-size: 1.1em;
    margin-bottom: 0.25vh;
}

.option {
    padding: 0.2em 0.3em;
}

.input {
    height: 18px;
    width: 18px;
    appearance: none;
    border: 1.5px solid #d1d1d1;
    border-radius: 4px;
    transition-duration: 0.3s;
}

.input:checked {
    border: 1.5px solid #46760a;
    background: #6a983c;
}

.input:checked+.option::before {
    content: "\2714";
    color: #ffffff;
    position: absolute;
    left: 7px;
    top: 2px;
}

@media (min-width: 1500px) {}

@media (max-width: 992px) {}

@media (max-width: 1000px) {
    .input:checked+.option::before {
        left: 7px;
    }
    .input {
        -webkit-appearance: checkbox;
    }
}

@media (max-width: 576px) {}