.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    color: #a9a9a9;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    padding: 1vh 1vw;
    width: 35%;
}

.selectboxContainer {
    padding-right: 1vw;
    border-right: 1px solid #d1d1d1;
}

.option {
    font-weight: 200;
    font-family: "Poppins", sans-serif;
}

.icon {
    height: 2vh;
}

.selectBox {
    font-size: 1.2em;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    padding: 0 0.9em 0 0.25em;
}

.input {
    border: none;
    width: 70%;
    font-size: 1.2em;
    padding: 0.5vh 1vw;
    font-family: "Open Sans", sans-serif;
}