.searchBarContainer {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #f9f9f9;
  color: #a9a9a9;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 1.5vh 1vw 1.5vh 2vw;
  width: 40%;
}

.selectboxContainer {
  padding-right: 0.5vw;
  border-right: 1px solid #d1d1d1;
}
.searchBarContainer img {
  width: 1vw;
  height: 2vh;
  margin: auto 0;
}

.selectboxContainer select {
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  background-color: transparent;
}

.inputContainer {
  width: 52%;
}

.imgContainer {
  width: 5%;
}
.inputContainer input {
  border: none;
  background-color: transparent;
  width: 100%;
  font-size: 1.2em;
  padding: 0.7vh 0.7vw;
}

.inputContainer input:focus {
  border: none;
  outline: none;
}
