.tag {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    background: #f0ecec;
    border-radius: 12px;
    padding: 1vh 1vw;
    margin: 1vh 0.5vw;
    cursor: pointer;
}

.tag:hover {
    background: #d1cdcd;
}