/* ==================== containers ==================== */

.container {
    width: 97%;
    margin: 2vh auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
}

.container:hover {
    color: black;
}

.descriptionContainer {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 4vh;
}

.descriptionBlockRight {
    width: 55%;
    line-height: 1.9;
}

.descriptionBlockLeft {
    width: 38%;
    padding-top: 1vh;
}

.shortDescription {
    word-break: break-word;
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.7em;
    max-height: 2.7em;
    margin-bottom: 1vh;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* ==================== image ==================== */

.img {
    width: 24vw;
    height: 45vh;
    border-radius: 12px;
    object-fit: cover;
}


/* ==================== description block - right ==================== */

.list {
    margin-top: 3vh;
}

.listItem {
    display: flex;
    color: #a9a9a9;
    font-size: 1.1em;
}

.category {
    width: 35%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/* ==================== description block - left ==================== */

.newPrice {
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.oldPrice {
    display: block;
    font-family: "Poppins", sans-serif;
    color: #a9a9a9;
    text-decoration-line: line-through;
    font-weight: 600;
}

.shippingArea {
    color: #a9a9a9;
    margin-top: 2.5vh;
    line-height: 1.7;
}


/* ==================== media queries ==================== */

@media (min-width: 1500px) {
    .img {
        height: 43vh;
    }
    .descriptionContainer {
        padding-top: 3.5vh;
    }
}

@media (min-width: 1900px) {
    .img {
        height: 35vh;
        width: 30%;
    }
    .descriptionContainer {
        padding-top: 3vh;
        width: 65%;
    }
    .descriptionBlockLeft {
        width: 30%;
    }
    .descriptionBlockRight {
        width: 60%;
    }
}

@media (max-width: 1400px) {
    .img {
        width: 23vw;
        height: 40vh;
    }
    .descriptionContainer {
        padding-top: 4vh;
    }
}

@media (max-width: 1300px) {
    .descriptionContainer {
        padding-top: 3vh;
    }
}

@media (max-width: 1200px) {
    .img {
        width: 23vw;
        height: 38vh;
    }
    .descriptionContainer {
        padding-top: 2vh;
    }
}

@media (max-width: 900px) {
    .list {
        display: none;
    }
    .container {
        width: 100%;
        margin-bottom: 2vh;
    }
    .descriptionContainer {
        display: block;
        margin: 0 auto;
        width: 40%;
        padding-top: 1vh;
    }
    .descriptionBlockLeft,
    .descriptionBlockRight {
        width: 95%;
    }
    .img {
        height: 40vh;
        width: 50%;
    }
    .shippingArea {
        display: none;
    }
    .pricing {
        margin: 1.5vh 0;
        display: flex;
        align-items: center;
    }
    .title,
    .newPrice {
        font-size: 1.6em;
    }
    .oldPrice {
        margin-left: 2vw;
        order: 0;
    }
}

@media (max-width: 800px) {
    .img {
        height: 33vh;
    }
    .descriptionContainer {
        margin: 0 auto;
        width: 42%;
    }
}

@media (max-width: 576px) {}