/* ==================== containers ==================== */

.container {
    width: 97%;
    margin: 2vh auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
}

.descriptionContainer {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.descriptionBlockRight {
    width: 50%;
    margin-left: 3vw;
    line-height: 1.9;
    margin-top: 5vh;
}

.descriptionBlockLeft {
    width: 35%;
    margin-top: 6vh;
}


/* ==================== image ==================== */

.img {
    width: 24vw;
    height: 43vh;
    border-radius: 12px;
    object-fit: cover;
}


/* ==================== description block - right ==================== */

.list {
    margin-top: 3vh;
}

.listItem {
    display: flex;
    color: #a9a9a9;
    font-size: 1.1em;
}

.category {
    width: 35%;
}


/* ==================== description block - left ==================== */

.newPrice {
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.oldPrice {
    font-family: "Poppins", sans-serif;
    color: #a9a9a9;
    text-decoration-line: line-through;
    font-weight: 600;
}

.shippingArea {
    color: #a9a9a9;
    padding-top: 2.5vh;
    line-height: 1.7;
}


/* ==================== media queries ==================== */

@media (max-width: 1400px) {
    .img {
        width: 23vw;
        height: 36vh;
    }
    .descriptionBlockRight {
        margin-top: 3vh;
        line-height: 1.6;
    }
    .descriptionBlockLeft {
        margin-top: 3vh;
    }
}

@media (max-width: 1200px) {
    .img {
        width: 23vw;
        height: 32vh;
    }
    .descriptionBlockRight {
        margin-top: 2vh;
        line-height: 1.6;
    }
    .descriptionBlockLeft {
        margin-top: 3vh;
    }
}