.container {
    width: 100%;
    font-weight: 600;
    font-family: "Open Sans";
    padding: 0;
    margin: 0;
}

.listItem {
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5vh 0;
    cursor: pointer;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
}

.quantity {
    display: flex;
    color: #6a983c;
    background-color: #f4f8ec;
    border-radius: 12px;
    width: 15%;
    justify-content: center;
}