.listItem {
    font-size: 110%;
    padding: 0.75vh 0.25vw;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.quantity {
    display: flex;
    color: #6a983c;
    background-color: #f4f8ec;
    border-radius: 1.5vh;
    width: 15%;
    font-weight: bold;
    justify-content: center;
}

.filterEnabled {
    background-color: #6a983c;
    border-radius: 0.75vh;
    color: white;
}

.filterEnabled:hover {
    color: black;
}

@media (max-width: 900px) {
    .listItem {
        padding: 0.5vh 0.25vw;
    }
}