.listItem {
    font-size: 1.1em;
    padding: 0.5vh 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.quantity {
    display: flex;
    color: #6a983c;
    background-color: #f4f8ec;
    border-radius: 12px;
    width: 15%;
    font-weight: bold;
    justify-content: center;
}