.container {
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-bottom: 6vw;
}

.slider {
    position: relative;
    width: 200px;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 3px;
    height: 5px;
}

.slider__track {
    background-color: #bdc3ca;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #309230;
    z-index: 2;
}

.slider__left-value,
.slider__right-value {
    /* color: #dee2e6; */
    font-size: 12px;
    margin-top: 20px;
    width: 50%;
    display: block;
}

.slider__left-value {
    left: 0;
    /* display: flex; */
}

.slider__right-value {
    left: 65%;
    display: flex;
    flex-direction: column;
}


/* Removing the default appearance */

.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 200px;
    outline: none;
}


/* For Chrome browsers */

.thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}


/* For Firefox browsers */

.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px #ced4da;
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin-top: 4px;
    pointer-events: all;
    position: relative;
}


/* Number inputs */

.numberInput {
    width: 50%;
    padding: 0.9vh 0.6vw;
    color: #a9a9a9;
    font-family: Open Sans;
    background: #f9f9f9;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
}

.numberInputs {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: 600;
    display: block;
    margin: 0.25em 0;
    font-size: 1.1em;
}

.zindex3 {
    z-index: 3;
}

.zindex5 {
    z-index: 5;
}

.zindex4 {
    z-index: 4;
}