.slider {
    margin-top: 4vh;
    position: relative;
    width: 90%;
    height: 10vh;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
    position: absolute;
}

.slider__track,
.slider__range {
    border-radius: 0.1vw;
    height: 0.35vw;
}

.slider__track {
    background-color: #bdc3ca;
    width: 100%;
    z-index: 1;
}

.slider__range {
    background-color: #6a983c;
    z-index: 2;
}

.slider__left-value,
.slider__right-value {
    font-size: 100%;
    margin-top: 2vh;
    width: 50%;
    display: block;
}

.slider__left-value {
    left: 0;
}

.thumb--left {
    left: -0.2vw;
}

.slider__right-value {
    left: 65%;
    display: flex;
    flex-direction: column;
}


/* Removing the default appearance */

.thumb,
.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.thumb {
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;
}


/* For Chrome browsers */

.thumb::-webkit-slider-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0.1vw 0.1vw #ced4da;
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin-top: 0.2vw;
    pointer-events: all;
    position: relative;
}


/* For Firefox browsers */

.thumb::-moz-range-thumb {
    background-color: #f1f5f7;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 0.1vw 0.1vw #ced4da;
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin-top: 0.2vw;
    pointer-events: all;
    position: relative;
}


/* Number inputs */

.numberInput {
    width: 50%;
    padding: 0.9vh 0.6vw;
    color: #a9a9a9;
    font-family: Open Sans;
    background: #f9f9f9;
    border: 0.1vw solid #d1d1d1;
    border-radius: 1.5vh;
}

.label {
    font-weight: 600;
    display: block;
    font-size: 1.1em;
    margin: 0.25em 0;
}


/* z indexes */

.zindex3 {
    z-index: 3;
}

.zindex5 {
    z-index: 5;
}

.zindex4 {
    z-index: 4;
}

@media (max-width: 1400px) {
    .slider__track,
    .slider__range {
        height: 0.5vw;
    }
    .thumb::-webkit-slider-thumb {
        height: 1.3vw;
        width: 1.3vw;
    }
    .thumb::-moz-range-thumb {
        height: 1vw;
        width: 1vw;
    }
    .thumb--left {
        left: -0.5vw;
    }
}

@media (max-width: 1000px) {
    .slider__track,
    .slider__range {
        height: 0.85vw;
    }
    .thumb::-webkit-slider-thumb {
        height: 2vw;
        width: 2vw;
    }
    .thumb::-moz-range-thumb {
        height: 2vw;
        width: 2vw;
    }
}

@media (max-width: 576px) {
    .slider__track,
    .slider__range {
        height: 1.5vw;
    }
    .thumb::-webkit-slider-thumb {
        height: 3vw;
        width: 3vw;
        margin-top: 0.6vw;
    }
    .thumb::-moz-range-thumb {
        height: 4vw;
        width: 4vw;
        margin-top: 0.6vw;
    }
}

@media (max-width: 320px) {
    .slider__track,
    .slider__range {
        height: 2vw;
    }
}