.container {
    display: flex;
    border: 1px solid #d1d1d1;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 1vh 0.5vw;
    width: 10%;
    justify-content: space-around;
}

.label {
    border-right: 1px solid #d1d1d1;
    width: 40%;
}

.selectBox {
    width: 32%;
    font-weight: 600;
    font-size: 1em;
    font-family: Poppins;
}