.filterContainer {
    display: flex;
    border: 1px solid #d1d1d1;
    background-color: #f9f9f9;
    border-radius: 12px;
    align-items: center;
    padding: 1.5vh 1vw;
    width: 10%;
    margin: 0;
}

.filterLabel {
    border-right: 1px solid #d1d1d1;
    padding-right: 0.5vw;
    font-size: 1em;
    width: 50%;
}

.selectBox {
    margin-left: 1vw;
    color: black;
    width: 50%;
    border: none;
    font-weight: 600;
    font-size: 1em;
}