@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&family=Prompt:wght@100;200;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap");
body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    font-size: 0.8rem;
    background-color: #fdfdfd;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

h1 {
    font-size: 2.3em;
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 4em;
    text-align: center;
    padding: 4vh 0;
}

h3 {
    font-size: 1.4em;
    padding: 2vh 0 0 0;
    font-weight: 600;
}

h4 {
    font-size: 1.3em;
    font-weight: 600;
}

h5 {
    font-size: 1.4em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

h6 {
    text-align: center;
    font-size: 1.4em;
}

button {
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    font-size: 1.3em;
    line-height: 1.2em;
    background-color: transparent;
    padding: 2vh 2vw;
    border-radius: 12px;
}

select,
option {
    padding: 0;
    margin: 0;
    border: none;
}

option {
    font-family: inherit;
    background-color: transparent;
}

select {
    background-color: transparent;
}

select:focus {
    border: none;
    outline: none;
    background-color: transparent;
}

input {
    font-size: 1.1em;
    background-color: transparent;
}

input:focus {
    outline: none;
}

section {
    width: 95%;
    margin: auto auto;
    padding: 15vh 0;
    background-color: rgb(212, 198, 198);
}

p {
    margin: 0;
    padding: 1vh 0;
}

.flex {
    display: flex;
}

hr {
    width: 90%;
    padding: 0 1.5vw;
    border-bottom: 0.1vh solid rgba(245, 234, 234, 0.678);
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 0 auto;
}