.container {
    font-size: 1em;
}

.page {
    color: #a9a9a9;
    padding-right: 0.5vw;
}

.currentPage {
    color: #6a983c;
    font-weight: bold;
    letter-spacing: 1em;
}

.pageNumber {
    letter-spacing: 1em;
    cursor: pointer;
}

.pageNumber:hover {
    color: rgb(63, 107, 63);
}